.about {
	padding: 100px 0 50px;
}

.about__wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	align-items: center;
}

.about__info {
	gap: 80px;
	height: 100%;
}

.about__photo {
	float: left;
	margin-right: 80px;
	max-width: 600px;
	max-height: 596px;
}

.about__img {
	max-width: 100%;
	max-height: 100%;
}

.about-content {
	width: 100%;
	min-height: 100%;
	align-items: end;
	justify-content: space-between;
}

.about__text {
	display: inline-block;
	max-width: 500px;
}

.about-content__text {
	font-size: 20px;
	line-height: 28px; 
}

.about-content__text-first {
	margin-bottom: 30px;
}

.about-content__text-last {
	margin-bottom: 59px;
}

@media (max-width: 1439px) and (min-width: 1024px) {
	.about {
		padding: 70px 0 31px;
	}

	.about__info {
		gap: 40px;
	}

	.about__photo {
		max-width: 420px;
		max-height: 417px;
		margin-right: 40px;
	}

	.about__text {
		max-width: 444px;
	}

	.about-content__text {
		font-size: 18px;
		line-height: 24px;
	}

	.about-content__text-last {
		margin-bottom: 37px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.about {
		padding: 30px 0 31px;
	}

	.about__photo {
		max-width: 382px;
		max-height: 380px;
		margin-right: 28px;
		margin-bottom: 41px;
	}

	.about__text {
		max-width: 278px;
	}
}

@media (max-width: 767px) and (min-width: 321px) {
	.about {
		padding: 30px 0 15px;
	}

	.about__wrapper {
		align-items: stretch;
	}

	.about__photo {
		max-width: 280px;
		max-height: 280px;
		margin-right: 0px;
		margin-bottom: 21px;
	}

	.about__info {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width:640px;
		gap: 0;
	}

	.about__text {
		order: -1;
		min-width: 40%;
	}

	.about-content__text {
		font-size: 12px;
		line-height: 16px;
	}

	.about-content__text {
		margin-bottom: 15px;
	}
}

@media (max-width: 320px) {
	.about {
		padding: 30px 0 15px;
	}

	.about__photo {
		max-width: 280px;
		max-height: 280px;
		margin-right: 0px;
		margin-bottom: 21px;
	}

	.about__info {
		display: flex;
		max-width: 280px;
		gap: 0px;
		flex-direction: column;
	}

	.about__text {
		order: -1;
	}

	.about-content__text {
		font-size: 12px;
		line-height: 16px;
	}

	.about-content__text {
		margin-bottom: 15px;
	}
}