.back {
	padding: 35px 0 20px;
}

.back-wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	cursor: pointer;
}

.back-wrapper:hover,
.back-wrapper:active {
	color: var(--pink-color);
}

.back-wrapper:focus {
	display: inline-flex;
	color: var(--pink-color);
	border-bottom: 1px solid var(--pink-color);
}

.back-arrow {
	background-image: url('../img/back-arrow.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 15px;
}

.back-wrapper:hover > .back-arrow,
.back-wrapper:focus > .back-arrow,
.back-wrapper:active > .back-arrow {
	background-image: url('../img/back-arrow-pink.svg');
}

.back-text {
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
	font-style: normal;
}

@media (max-width: 1023px) and (min-width: 768px) {
	.back {
		padding: 25px 0 20px;
	}

	.back-text {
		font-size: 16px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.back {
		padding: 10px 0 15px;
	}

	.back-text {
		font-size: 16px;
	}

	.back-arrow {
		background-image: url('../img/Arrow-320.svg');
		width: 30px;
		height: 15px;
	}
}