.contacts {
  font-weight: 700;
  margin-bottom: 106px;
  font-size: 24px;
  font-style: normal;
}

.contacts__address {
  display: inline-flex;
  align-items: center;
  margin-bottom: 50px;
}

.contacts__svg {
  margin-right: 30px;
}

.contacts__social {
  display: flex;
  gap: 37px;
  list-style: none;
  padding: 0;
}

.contacts__link {
  display: block;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-top: 36px;
  border-radius: 50%;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
}

.designer__text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

footer div {
  padding-bottom: 13px;
}

footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}