.creator {
	display: flex;
	justify-content: flex-end;
}

.creator__wrapper {
	display: flex;
	align-items: center;
	gap: 30px;
	width: 389px;
	height: 84px;
}

.creator__img {
	display: block;
	background-image: url('../img/creator.png');
	background-repeat: no-repeat;
	max-width: 80px;
	width: 100%;
	max-height: 80px;
	height: 100%;
}

.creator__text {
	display: block;
	font-size: 20px;
	font-style: normal;
	line-height: 28px; 
}

.creator__br-first {
	display: none;
}

@media (max-width: 1439px) and (min-width: 1024px) {
	.creator__wrapper {
		gap: 35px;
	}

	.creator__img {
		background-image: url('../img/creator1024-768.png');
		width: 70px;
		height: 70px;
	}

	.creator__text {
		max-width: 225px;
		font-size: 18px;
		line-height: 26px;
	}

	.creator__br {
		display: none;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.creator__wrapper {
		gap: 25px;
		justify-content: flex-end;
	}

	.creator__img {
		background-image: url('../img/creator1024-768.png');
		width: 70px;
		height: 70px;
	}

	.creator__text {
		font-size: 18px;
		line-height: 26px;
		max-width: 225px;
	}

	.creator__br {
		display: none;
	}
}

@media (max-width: 767px) and (min-width: 321px) {
	.creator {
		max-width: 100%;
	}

	.creator__wrapper {
		min-width: 100%;
		justify-content: center;
		gap: 11px;
	}

	.creator__img {
		background-image: url('../img/creator320.png');
		max-width: 56px;
		width: 100%;
		max-height: 56px;
		height: 100%;
	}

	.creator__text {
		font-size: 12px;
		line-height: 16px;
		max-width: 213px;
	}

	.creator__br {
		display: none;
	}

	.creator__br-first {
		display: block;
	}
}

@media (max-width: 767px) and (max-width: 320px) {
	.creator__wrapper {
		gap: 11px;
	}


	.creator__img {
		background-image: url('../img/creator320.png');
		max-width: 56px;
		width: 100%;
		max-height: 56px;
		height: 100%;
	}

	.creator__text {
		font-size: 12px;
		line-height: 16px;
		max-width: 213px;
	}

	.creator__br {
		display: none;
	}

	.creator__br-first {
		display: block;
	}
}