.entertainment__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.entertainment__item {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.entertainment__item:hover {
    transform: scale(1.1);
}

.entertainment__text {
    position: absolute;
    display: block;
    font-size: 20px;
    font-weight: 700;
    top: 170px;
    left: 40px;
}