footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts {
  font-weight: 700;
  margin-bottom: 106px;
  font-size: 24px;
  font-style: normal;
}

.contacts__wrapper {
	margin-bottom: 145px;;
}

.contacts__address {
  display: inline-flex;
  align-items: center;
  margin-bottom: 50px;
}

.contacts__tel, .contacts__email {
	display: flex;
	align-items: center;
}

.contacts__service {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contacts__email-address:hover, .contacts__tel-number:hover {
	color: #EADEED;;
	transition-duration: 0.8s;
}

.contacts__svg {
  margin-right: 30px;
  height: 32px;
}

.contacts__social {
  display: flex;
  gap: 37px;
  list-style: none;
  padding: 0;
}

.contacts__link {
  display: block;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-top: 36px;
  border-radius: 50%;
}

.contacts__link:hover svg path {
  fill: #EADEED;
  transition-duration: 0.8s;
}

.contacts__link:focus svg path  {
  fill: #EADEED;
  border: 1px solid var(--pink-color);
  transition-duration: 0.4s;
}

.contacts__link:focus {
  width: 50px;
  height: 50px;
  border: 1px solid var(--pink-color);
  border-radius: 0%;
  transition-duration: 0.8s;
}

.contacts__link:active svg path {
  fill: var(--pink-color);
  transition-duration: 0.2s;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
}

.designer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer__wrapper {
  padding-bottom: 13px;
}

@media (max-width: 1439px) and (min-width: 1024px){
	.contacts__map {
		max-width: 542px;
		min-height: 274px;
	}

	.contacts__map-image {
		background-image: url('../img/map-1024.png');
		max-width: 542px;
	}

	.contacts__link {
		width: 40px;
		height: 40px;
	}

	.contacts__link:focus {
		width: 44px;
		height: 44px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.contacts__info {
		flex-direction: column;
		gap: 30px;
		margin-bottom: 75px;
		align-items: center;
	}

	.contacts__map-image {
		background-image: url('../img/map768.png');
		min-width: 100%;
		min-height: 337px;
	}

	.contacts__address, .contacts__tel {
		margin-bottom: 27px;
	}

	.contacts__icon {
		margin-right: 10px;
	}

	.contacts__link {
		width: 40px;
		height: 40px;
	}

	.contacts__link:focus {
		width: 44px;
		height: 44px;
	}
	
	.contacts__svg {
		margin-right: 10px;
		height: 26px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.footer {
		padding-bottom: 11px;
	}
	.contacts__wrapper {
		flex-direction: column;
		margin-bottom: 63px;
		justify-content: center;
	}

	.contacts__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 14px;
	}

	.contacts__map {
		display: flex;
		justify-content: center;
	}

	.contacts__map-image {
		background-image: url('../img/map320.png');
		max-width: 280px;
		min-height: 194px;
	}

	.contacts__address, .contacts__tel {
		margin-bottom: 10px;
	}

	.contacts__social {
		display: flex;
		justify-content: center;
		margin-bottom: 35px;
	}

	.contacts__link {
		width: 30px;
		height: 30px;
	}

	.contacts__link:focus {
		width: 34px;
		height: 34px;
	}

	.designer__wrapper {
		flex-direction: column;
		text-align: center;
		row-gap: 19px;
		font-size: 12px;
	}

	.designer__info {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
	}

	.contacts__svg {
		margin-right: 2px;
		height: 20px;
	}
}