.halls {
    position: relative;
    text-align: center;
    color: #fff;
}

.halls__list {
  
}

.halls__name {
    display: inline-block;
    width: 580px ;
    height: 349px;
    margin-bottom: 20px;
    list-style-type: none;
}

.halls__name:not(:nth-child(2n)) {
    margin-right: 15px;
}

.halls__link {
    display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.halls__title {
    padding-bottom: 60px;
    font-weight: 700;
    font-size: 40px;
}

.halls__title__link {
    font-weight: 700;
    font-size: 70px;
    max-width: 252px;
    text-transform: uppercase;
}

.halls__80vibes {
    background-image: url(../img/80.jpg);
}

.halls__starwars {
    background-image: url(../img/StarWars.jpg);
}

.halls__west {
    background-image: url(../img/WildWest.jpg);
}

.halls__neon {
    background-image: url(../img/Neon.jpg);
}
    