.header__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header__menu {
    display: flex;
    gap: 40px;
    font-size: 22px;
    text-transform: uppercase;
}

.header__btn {
    padding: 12px 32px;
    background-color: #1b1a1b;
    border: 3px solid #CD06FF;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
}

.header__btn:hover {
    background: #6C0287;
    border-color: #6C0287;
}

.header__btn:focus {
    background: #6C0287;
    border-color: #6C0287;
}

.header__btn:active {
    padding: 14px 34px;
    background: #640AA3;
    border: 1px solid #000000;
}
