.other-room {
	padding-bottom: 72px;
}

.other-room__list {
	display: flex;
	gap: 20px;
}

.other-room__link {
	display: flex;
  min-width: 380px;
	width: 100%;
	min-height: 229px;
	height: 100%;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	line-height: 120%;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	background-size: cover;
}

.other-room__link_vibes {
	background-image: url('../img/page-vibes-1440.png');
}

.other-room__link_west {
	background-image: url('../img/page-west-1440.png');
}

.other-room__link_wars {
	background-image: url('../img/page-wars-1440.png');
}

.other-room__link_neon {
	background-image: url('../img/page-neon-1440.png');
}


@media (max-width: 1439px) and (min-width: 1024px) {
	.other-room {
		padding-bottom: 47px;
	}

	.other-room__link {
		min-width: 288px;
		min-height: 172px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.other-room {
		padding-bottom: 35px;
	}

	.other-room__list {
		gap: 8px;
	}

	.other-room__link {
		min-width: 224px;
		min-height: 134px;
		font-size: 20px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.other-room {
		padding-bottom: 17px;
	}

	.other-room__list {
		flex-direction: column;
		gap: 5px;
	}

	.other-room__link {
		min-width: 280px;
		min-height: 140px;
		font-size: 20px;
	}
}