.reserv {
    background-color: #440F51;
}

fieldset {
    padding: 0;
    margin-bottom: 60px;
    border: none;
}

fieldset:last-child {
    margin-bottom: 0;
}

legend {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.reserv__console-desc, .reserv__game-desc, .reserv__extra-desc {
    display: flex;
    align-items: center;
}

.reserv__hall-input {
    display: none;
}

.reserv__entertainment-input {
    position: relative; 
    width: 27px;
    height: 27px;
    margin-right: 8px;
}

.reserv__entertainment-input:after {
    content: "";
    width: 33px;
    height: 33px;
    border: 1px solid #CD06FF;
    position: absolute;
    top: -4px;
    left: -4px; 
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.8s;
}

.reserv__entertainment-input:focus::after {
    visibility: visible;
    opacity: 1; 
}

.reserv__halls {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.reserv__hall {
    padding: 14px 30px;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 8px;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

}

.reserv__hall:hover {
    background: #EADEED;
    border: 3px solid #640AA3;
    color: #000000;
    transition-duration: 0.8s;
}


.reserv__hall:focus{
    background: #FFFFFF;
    border: 3px solid #640AA3;
    color: #000000;
    transition-duration: 0.4s;
}

.reserv__hall:active {
    background: #6C0287;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition-duration: 0.2s;
}

.reserv__entertainment {
    display: flex;
    justify-content: space-around;
}

.reserv__console, .reserv__game, .reserv__extra {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-bottom: 0;
}

.reserv__console label:not(:last-child), .reserv__game label:not(:last-child), .reserv__extra label:not(:last-child) {
    margin-bottom: 18px;
}

.reserv__date-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px 50px;
    margin-bottom: 40px;
}

.reserv__information-input {
    width: 300px;
    height: 52px;
    padding-left: 20px;
}

.reserv__information-input:focus {
    border: 2px solid #CD06FF;
    transition-duration: 0.2s;
}

.reserv__label {
    display: flex;
    flex-direction: column;
}

.reserv__date-time {
    display: flex;
    column-gap: 32px;
}

.reserv__input-name {
    width: 280px;
}

.reserv__label {
    margin-bottom: 9px;
}

.reserv__input-date, .reserv__input-time, .reserv__input-person {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.reserv__input-date::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(/img/Polygon\ 1.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 15px;
    top: 48px;
    right: 27px;
}

.reserv__input-time::after {
    content: '';
    background-image: url(/img/Polygon\ 1.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 15px;
    position: absolute;
    top: 48px;
    right: 27px;
}

.reserv__input-person::after {
    content: '';
    background-image: url(/img/Polygon\ 1.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 15px;
    position: absolute; 
    top: 48px;
    right: 27px;
}

.reserv__information-input_small {
    width: 134px;

}

input::placeholder {
    color: #211E1E;
}

.reserv__button {
  display: flex;
  justify-content: flex-end;
  max-width: 1080px;
  z-index: 10;
}

.reserv__btn {
    position: relative;
    width: 294px;
    height: 54px;
    background-color: #fff;
    color: #6C0287;
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.reserv__btn:hover {
    background: #EADEED;
    border-color:#6C0287;
    transition-duration: 0.8s;
}

.reserv__btn:focus {
    background: #FFFFFF;
    border: 3px solid #6C0287;
    transition-duration: 0.4s;
}

.reserv__btn:active {
    background: #EADEED;
    border: 3px solid #EADEED;
    transition-duration: 0.2s;
}